@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #161c24;
    --text-light-color: #ffffff;
    --text-dark-color: #000000;
    --text-blur: #a3a3a3;
    --line-gray: #8f97a4;

    --font-normal: 14px;
    --font-tiny: 12px;
    --font-large: 16px;
    --font-bigger-large: 20px;
    --font-super: 25px;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-white-gray: #ebebeb;
    --color-gray-bold: #807e7a;
    --color-red: #fb0707;
    --color-viewed-notify: #f2c3a3;
    --color-orange: #ffa600;
    --color-blue: #1a94ff;
    --color-silver: #e4e4e4;
    --color-pink: #ff0099;
    --color-green: #25cd44;

    --color-top-1: #ce070a;
    --color-top-2: #25cd44;
    --color-top-3: #ffac27;
    --color-top-normal: #1a94ff;

    --width-thumb-comicdetail: 200px;
    --padding-right-comicdetail: 260px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
